/* CSS RULES FOR HTML TAGS */

body {
    font-family: sans-serif;
    background-color: white
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white
}

p {
    color: white
}


/* CSS RULES FOR CLASS NAMES WE DEFINE OURSELVES */

.section-heading {
    padding-top: 5%;
    text-transform: bold;
}

.section-heading-span {
    font-family: sans-serif;
    box-shadow: inset 0 -0.5em 0 0 #d80052;
    padding: 0 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.testimonialsFrame {
    margin-top: 2vw;
}

.testimonialsFrame p {
    margin-top: 2vw;
    margin-bottom: 2vw;
    border-color: white;
    margin-top: 2vw;
    margin-bottom: 2vw;
    border: solid white;
    border-width: 0.3vw;
    color: white;
    padding: 1vw 1vw;
    animation-name: opacityOn;
    animation-duration: 1s;
}

.big-numbers {
    font-family: sans-serif;
    font-size: 2rem;
}

@keyframes opacityOn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.overviewNumber {
    color: white;
    font-weight: bold;
    font-size: xx-large;
}

.overviewText {
    color: white;
    font-weight: lighter;
    font-size: medium;
}

.overviewSurvivorContainer {
    text-align: center;
}

.head-of-app {
    background-color: white;
    height: 17vw;
    text-align: center;
    color: #d80052
}

.head-of-app h1 {
    color: #d80052;
    font-family: 'BUKA';
    font-size: 10vw;
    text-transform: "none"
}

.app-entry {
    background-color: #00a0dd;
    padding-top: 1.5vw
}

footer {
    height: 14vw
}

@font-face {
    font-family: "BUKA";
    src: url("WTC-BUKA.woff") format('woff');
}

@font-face {
    font-family: 'LifeIsMessy';
    src: url('kglifeismessy-webfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('KGLifeisMessy.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}


/* 
BUTTON STYLING */

.btn-primary {
    color: #fff;
    background-color: #e5f8ff2e;
    border-color: #e5f8ff2e;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #e5f8ff2e;
    border-color: #e5f8ff2e;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-primary:active {
    box-shadow: none;
    background-color: #e5f8ff2e;
    color: white;
}

.btn-primary:active:focus {
    -webkit-box-shadow: white !important;
    box-shadow: none !important;
}

.btn-primary:hover {
    color: white;
    background-color: #d6eef7ad;
    text-decoration: none;
}

.btn-primary:active {
    box-shadow: none;
    background-color: #d6eef7ad !important;
    color: white;
    border-color: red !important;
}